/* =Base, reset, normalize
-----------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}
/* Structure tags */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects */
img,
object,
embed,
video,
iframe {
  width: auto;
  max-width: 100%;
}
/* Responsive images aspeсt ratio */
img,
video,
iframe {
  height: auto;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Table reset */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
/* Webkit browsers reset margin */
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
}
/* Horizontal rule reset  */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
/* Clearfix */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  background: #ffffff;
  color: #000000;
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: Arial, Helvetica, "Trebuchet MS", sans-serif;
}
a {
  color: #336699;
}
a:hover {
  color: #19334d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.3em;
}
h2 {
  font-size: 2.142857142857143em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.7142857142857142em;
  line-height: 1.3em;
  margin-bottom: 0.6em;
}
h4 {
  font-size: 1.2857142857142858em;
  line-height: 1.3em;
  margin-bottom: 0.8em;
}
h5 {
  font-size: 1.1428571428571428em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
h6 {
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4 {
  margin-bottom: 0;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.5em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 2em;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
hgroup,
table,
form,
fieldset {
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
blockquote {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
  border-left: 5px solid #eee;
}
blockquote small,
cite {
  color: #777777;
  font-style: italic;
}
blockquote p {
  margin-bottom: 0;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.7em;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  font-size: 0.85em;
  font-style: italic;
}
ins,
mark {
  background-color: #ffee55;
  color: #000000;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-size: 90%;
  font-family: Menlo, Monaco, monospace, sans-serif;
}
pre {
  background: #f6f0e1;
  border: 1px solid #dfdbce;
  border-radius: 3px;
  padding: 1.5em;
  white-space: pre;
  overflow: auto;
}
code {
  padding: 2px 3px;
  display: inline-block;
  line-height: 1;
  background: #f6f0e1;
  border: 1px solid #dfdbce;
}
kbd {
	padding: 0 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px white inset;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px white inset;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px white inset;
	background-color: #FAFAFA;
	border-color: #CCC #CCC white;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	color: #444;
	font-weight: bold;
	white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-size: 13px;
}
fieldset {
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #dddddd;
}
legend {
  font-weight: bold;
  padding: 0 1em;
}
tfoot th,
tfoot td {
  background-color: #f2f2f2;
}
th,
td {
  border-bottom: 1px solid #eeeeee;
  padding: 0.75em 0.5em;
}
/* =Tables
-----------------------------------------------------------------------------*/
table.simple td,
table.simple th {
  border: none;
  padding: 0.75em 0.5em 0.75em 0;
}
table.border td,
table.border th {
  border: 1px solid #dddddd;
}
table.stroke td,
table.stroke th {
  border-bottom: 1px solid #eeeeee;
}
table.striped tbody tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
/* =Forms
-----------------------------------------------------------------------------*/
.forms label {
  display: block;
  margin-bottom: 2px;
}
.descr {
  color: #999999;
  font-size: 0.85em;
  line-height: 1.5em;
}
div.descr {
  margin: 4px 0;
}
.forms ul {
  list-style: none;
  margin: 0;
}
.forms ul li {
  margin-bottom: 10px;
}
/* liner fieldset */
fieldset.liner {
  border: none;
  padding: 0;
}
fieldset.liner legend {
  padding: 0;
  width: 100%;
  padding-bottom: 12px;
}
fieldset.liner legend span {
  font-size: 1.3em;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  display: block;
}
/* multicolumn */
.forms .multicolumn:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.forms .multicolumn li {
  float: left;
  margin-right: 12px;
  margin-bottom: 0;
  line-height: 1.8em;
}
.forms .multicolumn li label {
  margin-bottom: 0;
}
.forms .multicolumn li.w50 {
  width: 48%;
  margin-right: 2%;
}
.forms .multicolumn li.w33 {
  width: 31%;
  margin-right: 2%;
}
/* columnar */
.forms.columnar label {
  float: left;
  width: 150px;
  text-align: right;
  margin-right: 20px;
}
.forms.columnar .push,
.forms.columnar div.descr {
  margin-left: 170px;
}
.forms.columnar li fieldset label {
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.forms.columnar li fieldset {
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 170px;
  position: relative;
}
.forms.columnar li fieldset legend {
  padding: 0;
  position: absolute;
  width: 150px;
  text-align: right;
  left: 0;
  top: 0;
}
.forms.columnar li fieldset div.descr {
  margin-left: 0;
}
/* tableforms */
table.tableforms td {
  font-size: 90%;
  padding: 1px 10px 3px 0 !important;
  border: none;
}
table.tableforms tr.labels td {
  padding-top: .8em !important;
  font-weight: bold;
}
/* =Pagination
-----------------------------------------------------------------------------*/
.pagination {
  margin-left: 0;
  list-style: none;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pagination li {
  float: left;
  margin-right: .5em;
}
.pagination li a,
.pagination li span {
  display: block;
  padding: 0 7px;
}
.pagination li span {
  background-color: #7d9fd9;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination li a:hover {
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* =Tabs
-----------------------------------------------------------------------------*/
.tabs {
  margin-left: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}
.tabs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.tabs li {
  float: left;
  margin-bottom: -1px;
}
.tabs li a {
  padding: 0 12px;
  margin-right: 2px;
  line-height: 2.1875em;
  display: block;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.tabs li a:hover {
  border-color: #eee #eee #ddd;
  background-color: #f4f4f4;
}
.tabs a.act,
.tabs a.act:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
  text-decoration: none;
}
/* =Goodies
-----------------------------------------------------------------------------*/
.imgleft {
  float: left;
  margin: 0 1em 1em 0;
}
.imgright {
  float: right;
  margin: 0 0 1em 1em;
}
.imgleft,
.imgright {
  background-color: #ffffff;
  padding: 0;
  border: none;
}
.imgleft img,
.imgright img {
  position: relative;
  top: .4em;
}
p.lead {
  font-size: 1.3em;
}
.supersmall {
  font-size: 0.7em;
}
.small {
  font-size: 0.85em;
}
.big {
  font-size: 1.2em;
}
input.big {
  padding: 2px 0;
  font-size: 1.2em;
}
.nowrap {
  white-space: nowrap;
}
.last {
  margin-right: 0 !important;
}
.end {
  margin-bottom: 0 !important;
}
.handle {
  cursor: move;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.req,
.required {
  font-weight: normal;
  color: #da3e5a;
}
/* Icons */
.ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-decoration: none !important;
  background-repeat: no-repeat !important;
}
/* Width */
.w33 {
  width: 33%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
input.w100 {
  width: 99.4%;
}
textarea.w100 {
  width: 99.6%;
}
select.w100 {
  width: 99.8%;
}
/* Errors and Success */
.error,
.success {
  margin-left: 5px;
  font-weight: normal;
  font-size: 0.85em;
}
.input_error {
  border: 2px solid #da3e5a !important;
  background-color: #fceded;
}
.input_success {
  border: 2px solid #18a011 !important;
  background-color: #effaed;
}
/* =Labels
-----------------------------------------------------------------------------*/
.label {
  font-size: 0.7em;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 10px;
  line-height: 1.5em;
  position: relative;
  top: -1px;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.label.gray {
  color: #000000;
  color: rgba(0, 0, 0, 0.9);
  background-color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Colors */
.black {
  color: #000000 !important;
}
.grayDark {
  color: #555555 !important;
}
.gray {
  color: #777777 !important;
}
.grayLight {
  color: #999999 !important;
}
.white {
  color: #ffffff !important;
}
.red,
.error {
  color: #da3e5a !important;
}
.green,
.success {
  color: #18a011 !important;
}
/* Link Colors Hover */
a.black:hover {
  color: #808080 !important;
}
a.gray:hover,
a.grayLight:hover,
a.grayDark:hover {
  color: #000000 !important;
}
a.white:hover {
  color: #cccccc !important;
}
a.red:hover,
a.error:hover {
  color: #951d32 !important;
}
a.green:hover,
a.success:hover {
  color: #0a4407 !important;
}
