html, body {
	margin: 0;
	padding: 0;
}


/* =Typography
-----------------------------------------------------------------------------*/
body {
	font-family: Helvetica, Arial, sans-serif;	
	font-size: 14px;
}


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	width: 940px;
	margin: 50px auto;
}

/* =Misc
-----------------------------------------------------------------------------*/
.list li {
	margin: 10px 0;
}

/*
hover effects
*/
.close {
  position: sticky;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  color:red
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgba(241, 43, 36, 0.64);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*---------end hover ----*/

@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; 
  font-family: Istok Web, sans-serif;
  font-weight: 100;
  /* overflow: hidden; */
}

figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

